<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="logo.png" />
    <script src="js/vue.js"></script>
    <script src="js/bot-memory.js"></script>
    <script src="js/bot-processor.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="css/custom.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title>ZETDC ChatBot Portal</title>
  </head>

  <body>
    <div id="root">
        <div class="chat-popup" v-if="doShowChatBox">
          <div class="chatTitle">
            <div class="bot-info">
              <div class="logo">
                <img src="Images/logo.png" alt="" />
              </div>
              <div class="bot-name">
                GETSI <br />
                <div class="online">
                  <span><i class="ri-circle-fill"></i></span>&nbsp;Online
                </div>
              </div>
              &nbsp;&nbsp;
            </div>
            <div class="enquiries-button"><a href="">Enquiries</a></div>
            <div class="closeChatBox" @click="colseFullChatBox">
              <i class="ri-close-circle-line" aria-hidden="true"></i>
            </div>
          </div>

          
            <div class="chatbox" id="chatBox">
              <div v-for="msg in comunication">
                <div class="bot-msg" v-if="msg.from == -1">
                  <i class="ri-robot-line" aria-hidden="true"></i>&nbsp;&nbsp;
                  {{msg.text}}
                </div>
                <div class="human-msg" v-else>
                  {{msg.text}} &nbsp;&nbsp;<i
                    class="ri-map-pin-user-line"
                    areia-hidden="true"
                  ></i>
                </div>
              </div>
              <div class="bot-msg-typing" v-if="botTyping">
                <i class="ri-robot-line" aria-hidden="true">&nbsp;&nbsp;</i>
                <div class="blink">Getsi is typing.....</div>
              </div>
            </div>
          
          <form @submit.prevent="sendMessage">
            <input
              placeholder="Type message here.."
              type="text"
              class="send-message-input"
              v-model="message"
            />
          </form>
        </div>
        <div v-if="showOpenChatBoxBtn">
          <span class="chat-start-button" @click="displayFullChatBox">
            <i class="ri-discuss-fill" aria-hidden="true"></i>
          </span>
        </div>
    </div>
  </body>
</html>


<script src="enquiries.js"></script>
<script type="text/javascript">
  var rootVue = new Vue({
    el: "#root",
    data: {
      message: "",
      comunication: [{ from: -1, text: "Hi, my name is Getsi ...." }],
      botTyping: false,
      doShowChatBox: false,
      showOpenChatBoxBtn: true,
    },
    methods: {
      sendMessage: function () {
        if (this.message.trim().length > 0) {
          this.comunication.push({ from: 1, text: this.message });
          this.botTyping = true;
          setTimeout(function () {
            //Generate bot answer start: here api can be used to get bot answer
            generateBotMessage(rootVue.message.toLowerCase().trim());
            //Generate bot answer end
            rootVue.botTyping = false;
          }, 2000);
        }
      },
      displayFullChatBox: function () {
        this.doShowChatBox = true;
        this.showOpenChatBoxBtn = false;
      },
      colseFullChatBox: function () {
        this.doShowChatBox = false;
        this.showOpenChatBoxBtn = true;
      },
    },
    updated: function () {
      scrollToBottom(document.getElementById("chatBox"));
    },
  });

  function scrollToBottom(el) {
    el.scrollTop = el.scrollHeight;
  }
</script>
